<div class="row">
  <div class="small-10 small-centered columns">
    <h4>Fill out entry details below:</h4>
    <%= form_for [@user, @entry] do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title%><br />
      </div>

      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %><br />
      </div>

      <div class="field">
        <%= f.label :date %>
        <%= f.date_select(:date) %><br />
      </div>

      <div class="field">
        <%= f.label :latitude %>
        <%= f.text_field :latitude%><br />
      </div>

      <div class="field">
        <%= f.label :longitude %>
        <%= f.text_field :longitude%><br />
      </div>


      <% if params[:action] == 'edit' %>
        <div class="map-container">
          <%= content_tag :div, class: "map-canvas", id: "update-location", data: {lat: @entry.latitude, lon: @entry.longitude} do %>
          <% end %>
        </div>
      <% else %>
        <div class="map-container">
          <%= content_tag :div, class: "map-canvas", id: "current-location" do %>
          <% end %><br />
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit class:"button" %>
      </div>
    <% end %>
  </div>
</div>
