<div class="row">
  <div class="small-4 text-center columns">
    <%= link_to image_tag(@user.profile_photo, class:"profile-photo"), @user %>
    <h6><%= link_to "@#{@user.user_name}", @user %></h6>
  </div>
  <div class="small-8 columns">
    <h3 class="title text-center div-bar"><%= @entry.title %></h3>
    <div class="content">
      <div class="journal">
        <h5><%= "Posted by @#{@user.user_name} on #{@entry.date.strftime("%B %d, %Y")}, near #{@entry.location.name}"%></h5>
        <p><%= @entry.body %></p>
        <% if current_user == @user || current_user.admin? %>
          <h6>
            <%= link_to 'Edit Entry', edit_user_entry_path(@user, @entry) %> |
            <%= link_to 'Delete Entry', user_entry_path(@user, @entry), method: :delete %>
          </h6>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">
    <h6 class="div-bar">Snapshot of Conditions</h6>
    <div class="content">
      <ul class="small-block-grid-2 medium-block-grid-4 stats">
        <li>
            <h6 class="text-center">Wave Height</h6>
            <h4 class="text-center"><%=@swell_data.wave_height%>ft</h4>
        </li>
        <li>
          <h6 class="text-center">Primary Swell</h6>
          <h4 class="text-center">
            <%=@swell_data.primary_height%>ft @ <%=@swell_data.primary_period%>s
            <a class="msw-swa msw-swa-<%=@swell_data.primary_direction%>"></a>
          </h4>
        </li>
        <li>
          <h6 class="text-center">Secondary Swell</h6>
          <h4 class="text-center">
            <%=@swell_data.secondary_height%>ft @ <%=@swell_data.secondary_period%>s
            <a class="msw-swa msw-swa-<%=@swell_data.secondary_direction%>"></a>
          </h4>
        </li>
        <li>
          <h6 class="text-center">Wind</h6>
          <h4 class="text-center">
            <%=@swell_data.wind_speed%>mph
            <a class="msw-swa msw-swa-<%=@swell_data.wind_direction%>"></a>
          </h4>
        </li>
      </ul>
      <ul class="small-block-grid-3 charts">
        <li class="chart">
          <%=link_to image_tag(@swell_data.swell_data['charts']['swell']), @swell_data.swell_data['charts']['swell']%>
          <h6 class="text-center">Swell Height</h6>
        </li>
        <li class="chart">
          <%=link_to image_tag(@swell_data.swell_data['charts']['period']), @swell_data.swell_data['charts']['period']%>
          <h6 class="text-center">Swell Period</h6>
        </li>
        <li class="chart">
          <%=link_to image_tag(@swell_data.swell_data['charts']['wind']), @swell_data.swell_data['charts']['wind']%>
          <h6 class="text-center">Wind</h6>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <h6 class="div-bar">Actual Location:</h6>
    <div class="map-container">
      <%= content_tag :div, class: "map-canvas", id: "entry-location", data: {locations: [@entry], center: {lat: @entry.latitude, lng: @entry.longitude}, zoom: 7} do %>
      <% end %>
    </div>
  </div>
  <div class="small-12 medium-6 columns">
    <h6 class="div-bar">Photos:</h6>
    <div class="owl-carousel content">
      <% @photos.each do |photo| %>
        <div>
          <%= image_tag(photo.file_name) %>
          <% if current_user == @user || current_user.admin? %>
            <%= link_to("Delete Photo", entry_photo_path(@entry, photo), method: :delete, class:"button small warning") %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if current_user == @user %>
      <%= form_for [@entry, @photo] do |f| %>
        <%= f.label :file_name, "Entry Photos" %>
        <%= f.file_field :file_name %><br />
        <%= f.submit "Add Photo", class: "button", id:"add-photo", style:"display: none;" %>
      <% end %>
    <% end %>
  </div>
</div>
