<div class="row">
  <div class="small-8 small-centered columns">
    <h3 class="title text-center div-bar">Users</h3>
    <ul class="content user-index">
      <% @users.each do |user| %>
        <li class="user-preview">
          <div class="row">
            <div class="small-3 columns">
              <%= image_tag(user.profile_photo, class:"thumb-photo") %>
            </div>
            <div class="small-5 columns">
              <h4 class="user-name"><%= link_to "@#{user.user_name}", user%></h4>
              <h5>(<%=user.full_name%>)</h5>
              <h5><%=user.entries.length%> entries</h5>
            </div>
            <div class="small-4 columns">
              <% if current_user %>
                <% if @friends.include?(user) %>
                  <h6 class="button small success">Friends ✓</h6>
                <% elsif current_user == user %>
                  <h6 class="button small warning">This is you ✓</h6>
                <% else %>
                  <%= link_to "Add Friend", friendships_path(friend_id: user), method: :post, class:"button small notice" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    <p>
      <%= paginate @users %>
      <%= page_entries_info @users %>
    </p>
  </div>
</div>
