<div class="row hidden"  style="display: none;">
  <div class="small-8 small-centered columns">
    <h6 class="div-bar text-right"><%=link_to("X", '#', id:"hide-photos")%></h6>
    <div class="owl-carousel content">
      <% @photos.each do |photo| %>
        <div><%= image_tag(photo.file_name) %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="profile">
  <div class="row">
    <div class="small-6 columns">
      <div class="row">
        <div class="small-6 columns">
          <h4 class="user-name"><strong>@<%=@user.user_name%></strong></h4>
          <h4 class="name">(<%=@user.full_name%>)</h4>
          <%= image_tag(@user.profile_photo, class:'profile-photo content') %>
        </div>
        <div class="small-6 columns">
          <ul class="stats">
            <li class="stats">
              <h6 class="div-bar">Entries: <%=@user.entries.length%></h6>
            </li>
            <li class="stats">
              <h6 class="div-bar">Locations: <%=@user.locations.uniq.length%></h6>
            </li>
            <li class="stats">
              <h6 class="div-bar">Friends: 2</h6>
            </li>
            <li class="stats">
              <h6 class="div-bar"><%=link_to("Photos:  #{@user.photos.length}", '#', id:"show-hidden-photos")%></h6>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h6 class="div-bar">Travels:</h6>
        <div class="map-container">
          <%= content_tag :div, id: "entry-location", class: "map-canvas", data: {locations: @user.entries, center: {lat: 0, lng: 0}, zoom: 1} do %>
          <% end %>
        </div>
      </div><br>
      <div class="row">
        <% if @activity %>
          <h6 class="div-bar">Activity:</h6>
          <div class="content" id="activity-chart" style="width:100%; height:400px;" data-months="<%=@activity[:months]%>" data-sessions="<%=@activity[:sessions]%>"></div>
        <% end %>
      </div>
    </div>
    <div class="small-6 columns">
      <h6 class="div-bar">Past Journal Entries:</h6>
      <ul class="content">
        <% @entries.each do |entry| %>
          <li class="entries">
            <h4><%= link_to entry.title, user_entry_path(@user, entry) %></h4>
            <h6><%= "#{entry.date.strftime("%B %d, %Y")}, near #{entry.location.name}"%></h6>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
