<div class="row">
  <div class="small-4 columns">
    <%= image_tag(@user.profile_photo) %>
    <h4>@<%= @user.user_name %></h4>
  </div>
  <div class="small-8 columns">
    Coming Soon: Stats
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    High Charts n stuff
  </div>
  <div class="small-6 columns">
    <ul>
      <% @entries.each do |entry| %>
        <li>
          <h4><%= entry.title %>: <%=entry.date %></h4>
          <h6><%= "#{entry.location.name}, #{entry.country.name}, #{entry.region.name}"%></h6>
        </li>
      <% end %>
    </ul>
  </div>
</div>
