
<div class="row top-profile">
  <div class="small-4 columns">
    <%= image_tag(@user.profile_photo, id:'profile-photo') %>
    <h4>@<%= @user.user_name %></h4>
  </div>
  <div class="small-8 columns">
    <ul class="small-block-grid-2 medium-block-grid-4">
      <li class="stats">
        <p>Entries:</p>
        <h4><%=@user.entries.length%></h4>
      </li>
      <li class="stats">
        <p>Locations:</p>
        <h4><%=@user.locations.uniq.length%></h4>
      </li>
      <li class="stats">
        <p>Continents:</p>
        <h4>2</h4>
      </li>
      <li class="stats">
        <p>Photos:</p>
        <h4>17</h4>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
    <div id="map-container">
      <%= content_tag :div, id: "map-canvas", data: {locations: @user.locations.uniq, center: {lat: 0, lng: 0}, zoom: 1} do %>
      <% end %>
    </div>
    <% if @activity %>
      <div id="activity-chart" style="width:100%; height:400px;" data-months="<%=@activity[:months]%>" data-sessions="<%=@activity[:sessions]%>"></div>
    <% end %>
  </div>
  <div class="small-6 columns">
    <ul>
      <% @entries.each do |entry| %>
        <li class="entries">
          <h4><%= link_to entry.title, user_entry_path(@user, entry) %>: <%=entry.date %></h4>
          <h6><%= "#{entry.location.name}, #{entry.country.name}, #{entry.region.name}"%></h6>
        </li>
      <% end %>
    </ul>
  </div>
</div>
