<div class="row hidden"  style="display: none;">
  <div class="small-8 small-centered columns">
    <h6 class="div-bar text-right"><%=link_to("X", '#', id:"hide-photos")%></h6>
    <div class="owl-carousel content">
      <% @photos.each do |photo| %>
        <div><%= image_tag(photo.file_name) %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="profile">
  <div class="row">
    <% if (current_user == @user) && (@user.requested_friendships.length > 0) %>
        <h4>Friend Requests:</h4>
        <ul>
            <% @user.requested_friendships.each do |request| %>
            <li>
              <%= "From: @#{request.user_name}" %>
              <%= link_to "Accept", friendship_path(id: request), method: :put, class:"button small succes" %>
              <%= link_to "Decline", friendship_path(id: request), method: :delete, class:"button small alert" %>
            </li>
          <% end %>
        </ul>
    <% end %>
    <div class="small-12 medium-6 columns">
      <div class="row">
        <div class="small-7 columns">
          <h4 class="profile-name">
            @<%=@user.user_name%>
            <% if @relation %>
              <%= link_to @relation, "#", class:"button success small" %>
            <% else %>
              <%= link_to "Add Friend", friendships_path(friend_id: @user), method: :post, class:"button small" %>
            <% end %>
          </h4>
          <h4 class="name">(<%=@user.full_name%>)</h4>
          <%= image_tag(@user.profile_photo, class:'profile-photo content') %>
        </div>
        <div class="small-5 columns">
          <ul class="stats">
            <li class="stats">
              <h6 class="div-bar">Entries: <%=@user.entries.length%></h6>
            </li>
            <li class="stats">
              <h6 class="div-bar">Locations: <%=@user.locations.uniq.length%></h6>
            </li>
            <li class="stats">
              <h6 class="div-bar"><%= link_to("Friends: #{@user.friends.length}", friendships_path(id: @user.id)) %></h6>
            </li>
            <li class="stats">
              <h6 class="div-bar"><%=link_to("Photos:  #{@user.photos.length}", '#', id:"show-hidden-photos")%></h6>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <h6 class="div-bar">Travels:</h6>
        <div class="map-container">
          <%= content_tag :div, id: "entry-location", class: "map-canvas", data: {locations: @user.entries, center: {lat: 0, lng: 0}, zoom: 1} do %>
          <% end %>
        </div>
      </div><br>
      <div class="row">
        <% if @activity %>
          <h6 class="div-bar">Activity:</h6>
          <div class="content" id="activity-chart" style="width:100%; height:400px;" data-months="<%=@activity[:months]%>" data-sessions="<%=@activity[:sessions]%>"></div>
        <% end %>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <h6 class="div-bar">Past Journal Entries:</h6>
      <ul class="content">
        <% @entries.each do |entry| %>
          <li class="entries">
            <h4><%= link_to entry.title, user_entry_path(@user, entry) %></h4>
            <h6><%= "#{entry.date.strftime("%B %d, %Y")}, near #{entry.location.name}"%></h6>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
