<!DOCTYPE html>
<html>
<head>
  <title>SwellJournal</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="contain-to-grid">
    <div class="row">
      <div class="small-12 small-centered columns">
        <%= render 'layouts/top_bar' %>
      </div>
    </div>
  </div>
  <div class="main-container">
    <%- flash.each do |key, value| -%>
      <div class="alert-box <%=key%>">
        <%= value %>
      </div>
    <%- end -%>
    <%= yield %>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?" + <%=ENV['GOOGLE_MAPS_API_KEY']%>></script>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
